@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: 0.3s;
    overflow-x: hidden;
}
h2, h3{
    overflow: hidden;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 60px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 60px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
    color: #111;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;

}
header ul li a:hover{
        text-decoration: none;
}
header.sticky ul li a {
    color: #111;
    text-decoration: none;
}


.banner {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    /* background: url(./img/bg.jpg); */
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: #000;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
    color: #FC6D6D ;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}


.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}


.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading-color {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.about{
    padding: 50px 0;
}





.services {
    background: #111;
    padding: 100px 0;
}


.heading.white {
    color: #fff;
}

.services .container .row .col .card:hover {
    background: #2196f3;
}
.services .container .row .col .card{
    background-color: #222222;
    margin: 10px;
}
.services .container .row .col .card img {
    max-width: 128px;
    align-self: center;
    margin: 10px;
}

.services .container .row .col .card h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.services .container .row .col .card p {
    color: #fff;
}

.work{
    padding: 100px 0;
}

.work .container .row .col  .card{
    margin: 20px;
}

.work .container .row .col  .card .workImg img{
    height: 300px;
}


.work .container .row .col  .card .card-body .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .work .container .row .col  .card .card-body .link  .previewLink, .codeLink{
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
}
.previewLink a, .codeLink a{
    color: #fff;
    text-decoration: none;
}
.workBx:hover .workLink{
    display: block;
    transition: 0.3s;
}
.workImg img{
    height: 400px;
} 
/* }
.testimonials {
    background: #f7f7f7;
}

.testimonials .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonials .content .testimonialsBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}

.testimonials .content .testimonialsBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonials .content .testimonialsBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.testimonials .content .testimonialsBx h3 span {
    font-size: 14px;
    font-weight: 400;
} */




.contact {
    padding: 100px 0;
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Responsive*/
@media (max-width:991px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
        width: 100%;
    }
    .bannerImg{
        display: none;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter:invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .service .content .serviceBx{
        margin: 10px;
    }
    .work .content .workBx{
        width: 100%;
        padding: 10px;
    }
    .testimonials .content .testimonialsBx {
    max-width: calc(50% - 20px);
    padding: 40px 20px;
    margin: 10px;
        background: #2196f3;
    }
    .testimonials .content .testimonialsBx h3{
        margin-top: 20px;
    }
    .contactInfo{
        margin: 20px 0;
    }
}


.wrapper{
  display: flex;
  overflow: hidden;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  /* width: 100px; */
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -25px;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -385px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

@media (max-width: 600px){
    .wrapper .static-txt {
    width: 100px;
}
.banner h2 span {
    font-size: .95em;
    
}
}
@media (max-width: 320px){
    .wrapper .static-txt {
    width: 120px;
}
.banner h2 {
    font-size: 17px;
    
}
}